html, body {
    background-color: #000000;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial;
    font-size: 1em;
    overflow: hidden;
    color: #ffffff;
}

a {
    color: #ffff00;
    text-decoration: none;
}

a:hover {
    color: #ffff00;
    text-decoration: underline;
}

#header {
    font-family: Verdana, Arial;
    font-size: 1em;
    overflow: hidden;
    color: #ffffff;
}

#content {
    font-size: 1em;
}

#osm {
    font-size: 0.7em;
    font-style: italic;
    margin-bottom: 20px;
}

/*eigenes css*/

#map {
    height: 100%;
    width: 91%;
    padding: 0;
    margin: 0;
    float: left;
}

.olPopup, .olFramedCloudPopupContent {
    width: 100px;
    height: 200px;
    max-height: 100px !important;
    max-width: 200px !important;
    background: #3b9cd8;;
    cursor: pointer;
}

#menu-right {
    float: right !important;
    height: 100%;
    width: 9%;
}

#menu-left {
    float: left;
    display: none;
    height: 100%;
    width: 30%;
    position: absolute;
    z-index: 1000;
    background: #2c60b5;
    color: #f5f5f5;
    padding: 1rem;
}


.entry-title {
    font-weight: bold;
    line-height: 1.5rem;
}

.more-link {
    color: inherit;
    text-decoration: none;
}

.more-link:hover {
    color: inherit;
    text-decoration: none;
}

#read-more-button {
    background: white;
    text-align: center;
    color: #3a9bd8;
    margin-top: 1rem;
}

#read-more-button:hover {
    background: #3a9bd8;
    color: white;
}
.preview-link {
    color: white;
    text-decoration: none;
    font-size: 50%;
}

.preview-link:hover, .preview-link:focus {
    color: white;
    text-decoration: none;
}

#menu-list {
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin-left: 0;
    border-left: 1px solid #6f6f6f;
}

#menu-list li {
    width: 100%;
    height: 16.67%;
    cursor: pointer;
    border-bottom: 1px solid #6f6f6f;
    background-color: #ffffff;
    line-height: 4rem;
    text-align: center;
    padding-top: 3rem;
}

#menu-list li:last-child {
    border-bottom: none;
}

#menu-list li:hover {
    background: #3b9cd8;
}

#menu-list li i {
    height: 100%;
    line-height: 4rem;
}

@media (max-width: 40em) {
    #menu-left {
        width: 50%;
        font-size: 50%;
    }

    .preview-link {
        font-size: 30%;
        line-height: 0rem;
    }

    #menu-list li i {
        font-size: 2rem;
        height: 100%;
    }

    .more-link {
        font-size: 75%;

    }

    .entry-title {
        line-height: 1rem;
    }
}

@media (min-width: 40em) and (max-height: 64em) {
    #menu-list li i {
        font-size: 3rem;
        height: 100%;
    }
}

@media (min-width: 64em) {
    #menu-list li i {
        height: 100%;
    }
}

#menu-items {
    width: 200px;
    height: 20%;
    position: absolute;
    background: #2d61b5;
    margin-left: -200px;
    z-index: 1005;
    display: none;
}

#menu-items .menu-item {
    display: none;
}

#close-menu {
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: right;
    clear: both;
}

#close-menu i {
    font-size: 2rem;
}

#close-preview {
    cursor: pointer;
    float: right;
    clear: both;
}

#close-preview i {
    font-size: 1.5rem;
}

.fi-x {
    color: white;
}

#location-start {
    max-width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    z-index: 1030;
    border: 1px solid black;
}

.marker-popup {
}

.marker-title {
    font-size: 1rem;
    color: white;
}
